.right_side {
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.right_side .customer_updates > h3 {
  font-size: 1.6rem;
  color: var(--my-white);
}
.right_side .customer_review > h3 {
  font-size: 1.6rem;
  color: var(--my-white);
}

/* Responsive */
@media only screen and (max-width: 1200px) {
  .right_side {
    justify-content: flex-start;
    margin-top: 4rem;
    gap: 2rem;
  }
  .right_side .customer_updates {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 552px) {
  .right_side .customer_updates > h3 {
    text-align: center;
  }
}
