* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
}
:root {
  --background-color: linear-gradient(
    45deg,
    rgba(156, 39, 69, 1) 0%,
    rgba(255, 145, 0, 1) 30%,
     rgba(156, 39, 69, 1) 60%,
    rgba(255, 145, 0, 1) 100%
  );
  --my-green: #828d00;
  --my-red: #bc0000;
  --my-pinkish: #f5704a;
  --my-deep-dark: #180c0c;
  --my-light-dark: #483948;
  --my-white: #fdf4f4;
  --glass-color: #ffffff36;
}
